# =========================
# Java / Maven
# =========================

target/
!.mvn/wrapper/maven-wrapper.jar

# =========================
# IDE
# =========================

.idea/
*.iml
.vscode/

# Eclipse
.classpath
.project
.settings/

# =========================
# Java
# =========================

*.class

# =========================
# Node / Angular
# =========================

node_modules/
dist/
.angular/
.nx/

# =========================
# Environment / secrets
# =========================

.env
.env.*
!.env.example

# =========================
# Logs
# =========================

*.log

# =========================
# OS
# =========================

.DS_Store
Thumbs.db

# Windows
Desktop.ini